body {
    text-align: center;
    font-family: Arial;
    background-color: #f2f2f2;
}

#display {
    width: 200px;
    height: 30px;
    font-size: 18px;
    text-align: right;
}

button {
    width: 45px;
    height: 35px;
    font-size: 16px;
    margin: 3px;
}